---
import {type CollectionEntry} from 'astro:content';

interface Props {
  team: CollectionEntry<'nfl'>;
}

const {team} = Astro.props;
const {city, conference, established, headCoach, logoUrl, name} = team.data;

const { Content } = await team.render();
---

<div
  class="bg-yellow-100 flex flex-col items-center p-4 h-screen w-full"
  @click="history.back()"
>
  <div class="font-bold text-6xl" transition:name={`${name}-name`}>
    {city} {name}
  </div>
  
  <div class="text-4xl" transition:name={`${name}-conference`}>
    {conference}
  </div>

  <div class="text-lg">
    Head Coach: {headCoach}
  </div>

  <div class="text-xs">
    established in {established}
  </div>

  <div class="mt-4 w-[30rem]">
    <Content />
  </div>

  <img
    alt="team logo"
    src={logoUrl}
    width="80%"
    transition:name={`${name}-logo`}
  />
</a>
