---
import {type CollectionEntry} from 'astro:content';

interface Props {
  team: CollectionEntry<'nfl'>;
}

const {team} = Astro.props;
const {city, name, conference, logoUrl} = team.data;
---

<a class="bg-yellow-100 flex flex-col inline-flex items-center p-4 rounded-lg font-bold"
href={`${name}`}>
  <div>{city} {name}</div>
  <img alt="team logo" src={logoUrl} width={100} transition:name={`${name}-logo`} />
</a>
