---
import { Image } from "astro:assets";
import type {CollectionEntry} from 'astro:content';

type Props = {
  dog: CollectionEntry<'dogs'>;
};

const {dog} = Astro.props;
const {breed, name, photo} = dog.data;
// const { Content } = await dog.render();
---

<div class="dog my-4">
  <hr class="mb-4" />
  <p class="font-bold mb-4">{name}, the {breed}</p>
  <Image alt="breed photo" src={photo} transition:name={name + '-img'} />
  <a href={'/pets/dog/' + name}>Detail</a>
  <!-- <Content /> -->
</div>

<style>
  img {
    height: auto;
    width: 10rem;
  }
</style>
