---
import {Image} from 'astro:assets';
import { Icon } from "astro-icon/components";

import Border from '@components/Border.astro';
import Counter1 from '@components/Counter.astro';
import Counter2 from '@components/Counter.svelte';
import Counter3 from '@components/Counter.tsx';
import logo1 from '@images/astro-logo.png';
import logo2 from '@images/astro-logo.svg';
import Layout from '@layouts/Layout.astro';

const icons = [
  "mdi:account",
  "tdesign:angry",
  "material-symbols:ar-on-you-outline",
  "solar:bicycling-round-bold",
  "fa6-solid:hat-wizard",
  "heart"
];

// import dogs from "../data/dogs.json";
---

<Layout title="Welcome to Astro">
  <main class="m-4">
    <h1>Welcome to Astro</h1>
    <Image alt="PNG logo" src={logo1} width={300} />
    <Image alt="SVG logo" src={logo2} width={300} />

    <a href="/pets/dogs">Dogs</a>
    <div class="mt-4">
      <button id="my-btn">Confetti</button>
    </div>
    <Counter1 label="Alpine" start={3} />
    <Counter2 label="Svelte" start={3} client:load />
    <Counter3 label="React" start={3} client:load />

    <div class="row">
      {icons.map(icon => (
        <Icon name={icon} size={60} title={icon} />
      ))}
    </div>

    <Border color="red">
      What is with this code?
      <br />
      Oh my, looks like I wrote it.
      <br />
      What was I thinking?
    </Border>
  </main>
</Layout>

<script>
  // This import must be here, not in the component script.
  import confetti from "canvas-confetti";

  function handleClick() {
    confetti({
      particleCount: 100,
      spread: 180,
      origin: {y: 1}
    });
  }

  const myBtn = document.getElementById('my-btn');
  if (myBtn) myBtn.addEventListener('click', handleClick);
</script>

<style>
  a {
    color: blue;
    text-decoration: underline;
  }

  h1 {
    color: purple;
    font-size: 3rem;
  }

  .row {
    display: flex;
    gap: 1rem;
  }

  .row svg {
    color: blue;
  }
</style>
